<%= form_for(@user) do |f| %>
  <div class="form-group">
    <%= f.label "User Name" %>
    <%= f.text_field :name %><br>
    <%= f.label "Password" %>
    <%= f.password_field :password %><br>
    <%= f.label "Password Confirmation" %>
    <%= f.password_field :password_confirmation %><br>
  </div>
  <%= f.submit(:class => 'btn btn-success') %>
<% end %>
