<!DOCTYPE html>
<html>
<head>
  <title>Photoload</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <%= bootstrap_flash %>
  <div class="container">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <br>
       <% if current_user %>
      Logged in as <%= current_user.name %>
       |
      <%= link_to "Home", root_path %>
      |
      <%= link_to "Upload Photo", new_photo_path %>
       |
      <%= link_to "My Account", myaccount_path(@user) %>
      |
      <%= link_to "Log Out", logout_path %>
      <% else %>
      <%= link_to "Sign Up", signup_path %> or <%= link_to "Log In", login_path %>
      <% end %>

  </nav>
  </div>
</div>
</div>
<br><br>

<%= yield %>
</div>


</body>
</html>
